* {
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: #161616;
    color: #FFF;
    width: 100%;
    height: 5rem;
    text-align: center;
}

.cabecera h1 {
    padding: .3rem;
}

.cabecera p {
    font-size: 1.2rem;
}

.lista-cursos {
    text-align: center;
    margin-top: .7rem;
}

.curso {
    margin: .8rem 0;
}

.curso a {
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
}

.curso a:hover {
    color: red;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .cabecera {
        height: 6rem;
    }
}