* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #FF0101;
    color: #FFF;
    width: 80%;
    height: 10em;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 3.5rem;
}

.container {
    background-color: #D5D5D5;
    width: 70%;
    margin: 2.5em auto;
    padding: 1.5em 0;
    box-shadow: 2px 2px 7px 7px rgba(65, 45, 45, 0.65);
}

.presupuesto {
    width: 80%;
    margin: 0 auto;
}

.informacion {
    font-size: 1.7rem;
}

.formulario {
    width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etiqueta {
    font-size: 1.5rem;
    margin: .5em 0;
}

.input {
    width: 55%;
    font-size: 1.6rem;
    height: 1.5em;
    border-radius: .5rem;
    outline: none;
}

.boton {
    background-color: #FF0101;
    color: #FFF;
    width: 50%;
    font-size: 1.6rem;
    font-weight: bold;
    height: 2.5em;
    margin: .8em;
    cursor: pointer;
    border-radius: 5px;
}

.boton:hover {
    background-color: #FF4F4F;
}

#capacidadAhorro {
    display: none;
    width: 80%;
    margin: 15px auto;
}

#proncentajeAhorro {
    font-size: 1.6rem;
    margin: .5em;
    height: 2em;
}

.ahorro {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ahorro .etiqueta {
    font-size: 2.5rem;
}

#inputAhorro {
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    height: 1.5em;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: aqua;
    }
    .header {
        width: 100%;
        height: 12em;
        margin: 0;
        text-align: center;
    }
    .titulo {
        font-size: 2.2rem;
    }
    .container {
        width: 100%;
        min-height: calc(100vh - 15em);
        margin: 0;
        box-shadow: none;
    }
    .informacion {
        font-size: 1.4rem;
    }
    .formulario {
        width: 90%;
    }
    .ahorro {
        width: 80%;
    }
    .ahorro .etiqueta {
        font-size: 2rem;
    }
}